<!doctype html>
<html lang="en" xmlns:th="http://thymleaf.org">
	<head>
		<title>AH/Инструменты</title>
		<meta charset="utf-8"/>
		<!--for bootstrap-->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	</head>
	<body>
		<!--Меню-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  		<a class="navbar-brand" href="index">AH | Quotes & Analytics</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbar1">
    		<ul class="navbar-nav mr-auto">
      		<li class="nav-item">
        		<a class="nav-link" href="index">Данные<span class="sr-only">(current)</span></a>
      		</li>
		    	<li class="nav-item active">
		    		<a class="nav-link" href="#">Инструменты</a>
		    	</li>
      		<li class="nav-item dropdown">
        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Прогнозирование</a>
        		<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
								<a class="dropdown-item" href="prediction">Метод опорных векторов регрессии</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="prediction">Фильтр Калмана</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="prediction">Формула Блэка-Шоулза</a>
        		</div>
      		</li>
    		</ul>
				<!--<form class="form-inline my-2 my-lg-0">
      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      		<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    	</form>--><!--Форма поиска-->
  		</div>
		</nav>

		<!--Содержание-->
		<br />
    <div class="container">
      <h1>Математические инструменты для анализа графиков</h1>
			<p>Выберете интересующий вас курс:</p>
			<select class="form-control">
				<option>Золото</option>
				<option>Нефть</option>
				<option>Биткоин</option>
			</select>
			<br />
			<p>Выберете интересующий вас период времени:</p>
			<div class="custom-control custom-radio">
  			<input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
  			<label class="custom-control-label" for="defaultUnchecked">За последний год</label>
			</div>
			<div class="custom-control custom-radio">
  			<input type="radio" class="custom-control-input" id="defaultUnchecked2" name="defaultExampleRadios">
  			<label class="custom-control-label" for="defaultUnchecked2">За последний месяц</label>
			</div>
			<!-- Default checked -->
			<div class="custom-control custom-radio">
  			<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
  			<label class="custom-control-label" for="defaultChecked">За последние 2 недели</label>
			</div>
			<br />

			<!--Кнопки-->
			<input type="submit" class="btn btn-primary" value="Обновить данные">
			<input type="button" class="btn btn-success" value="Инструмент №2">
			<a href="#" class="btn btn-info" role="button">Инструмент №3</a>
			<button class="btn btn-warning">Инструмент №4</button>
			<button class="btn btn-danger">Инструмент №5</button>
			<br /><br />

			<!--График-->
			<div class="row">
	      <main role="main" class="col-md-12 ml-sm-auto col-lg-12">
	        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	          <h1 class="h2">Курс золота (руб/гр.)</h1>
	        </div>
	        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
	        </main>
	      </div>
		</div>
		<br /><br />

		<!--Футер-->
		<footer class="col-md-12">
			<div class="container">
				<span class="text-muted"><p class="text-center">© Светличный Константин, Вологдин Илья, 2018. Все права защищены.<p></span></div>
			</div>
		</footer>

		<!-- Optional JavaScript. jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

		<!-- Graphs -->
    <script th:src="@{/graph/Chart.min.js}"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["2.10.2018", "3.10.2018", "4.10.2018", "5.10.2018", "6.10.2018", "9.10.2018", "10.10.2018", "11.10.2018", "12.10.2018", "13.10.2018"],
          datasets: [{
            data: [2498.93, 2500.91, 2531.49, 2553.33, 2572.88, 2572.51, 2534.99, 2524.47, 2578.51, 2585.15],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
	</body>
</html>
